

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; /* On smaller screens, items stack in a column */
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge (legacy) */
.hide-scrollbar {
  -ms-overflow-style: none;
}